<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>Editing Book</h2>
      <div class="form-group">
        <%= form_with model: @book, local:true do |f| %>
        <label for="user_name">title</label>
        <input class="form-control book" type="text" value="ko" name="books[title]" id="books_title">
      </div>
      <div class="form-group">
        <label for="books_opinion">Opinion</label>
        <%= f.text_area :body %>
      </div>
      <div class="form-group">
          <%= f.submit 'update User',class:"btn btn-secondary" %>
        <% end %>
        <%= link_to "Show",book_path(@book.id) %>｜
        <%= link_to "Back",books_path %>
        
      </div>
</form>  </div>
</div>

</div>


